.product-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 5rem;
    width: 100%;
}

.product-img-box {
    width: 50%;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;

    .main-product-img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        object-position: top;
    }
}

.product-details-box {
    width: 50%;
    padding: 3rem;
    padding-left: 60px;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 50px;
}

.home-link {
    font-size: 1.1rem;
    font-weight: 500;
}

.product-details-title {
    margin-top: 10px;
    font-size: 35px;
    font-weight: 600;
}

.product-details-price {
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}

.product-details-brand {
    margin-top: 1rem;

    span {
        background: var(--shade3);
        color: var(--white);
        padding: 0.2rem 0.5rem;
        font-weight: 500;
    }
}

.product-details-description {
    margin-top: 20px;
}

.product-details-id {
    margin-top: 20px;
}

.product-card-btn {
    font-size: 1rem;
    /* width: 100%; */
    padding: 0.65rem 2.6rem;
    background-color: var(--black);
    border: 0;
    outline: 0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    cursor: pointer;
    color: var(--white);
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: var(--shade3);
    }
}

.btn-info {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;

    .btn-quantity {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.8rem;
        outline: 1px solid var(--gray);

        .info-minus,
        .info-plus {
            font-size: 1.1rem;
            color: var(--shade2);
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            background-color: var(--black);
            padding: 0.5rem 1rem;

            &:hover {
                background-color: var(--orange);
            }

            svg {
                color: white;
            }
        }

        .info-quantity {
            font-size: 1.1rem;
            font-weight: 500;
            color: var(--shade4);

            &::selection {
                background: var(--white);
            }
        }
    }}

.product-details-idStock {
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

.product-details-stock {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1rem;
}

@media only screen and (max-width: 900px) {
    .product-container {
        flex-direction: column;
        padding: 2rem 1rem;
    }

    .product-details-box,
    .product-img-box {
        width: 100%;
    }
}
