.hero {
    height: 60vh;
    margin: auto 0;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }

    .btn-wrapper {
        button {
            position: absolute;
            top: 50%;
            transform: translateY(0, -50%);
            background-color: var(--white);
            padding: 10px;
            border-radius: 50%;
            border: 2px solid var(--gray);
            cursor: pointer;
            z-index: 1;
            color: var(--black);
            font-size: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s ease-in-out;
        }

        button:hover {
            background-color: var(--shade1);
        }

        .right-btn {
            left: 32px;
        }

        .left-btn {
            right: 32px;
        }
    }

    .hero-text {
        position: absolute;
        top: 30%;
        left: 15%;

        p {
            font-size: 1.5rem;
            background: #d9e5e1cf;
            margin-bottom: 5px;
            width: fit-content;
            padding: 0.5rem 1rem;
        }

        h2 {
            font-size: 3rem;
            color: var(--shade4);
            text-shadow: 1px 1px 2px var(--gray);
            background: #d9e5e1cf;
            width: fit-content;
            padding: 0.5rem 1rem;
            animation-delay: 1.5s;
            margin-bottom: 2rem;
        }

        a {
            font-size: 1.2rem;
            color: var(--white);
            background: var(--shade4);
            width: fit-content;
            padding: 0.5rem 1rem;
            animation-delay: 2s;
            transition: all 0.3s ease-in-out;
            border: 2px solid transparent;

            &:hover {
                /* background: var(--orange); */
                border: 2px solid var(--gray);
            }
        }
    }

    .dot-container {
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;

        .dot-btn {
            cursor: pointer;
            font-size: 20px;
            color: var(--black);
            transition: all 0.3s ease-in-out;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .dot-btn:hover {
            color: var(--orange);
        }

        .dot-btn.active {
            color: var(--orange);
            font-weight: bold;
            font-size: 30px;
        }
    }
}

@media only screen and (max-width: 650px) {
    .hero {
        .hero-text {
            p {
                font-size: 1rem;
            }

            h2 {
                font-size: 2.2rem;
            }
        }

        .dot-container {
            .dot-btn {
                font-size: 15px;
            }
        }

        .btn-wrapper {
            .right-btn {
                left: 10px;
            }

            .left-btn {
                right: 10px;
            }
        }
    }
}
