.hero {
  height: calc(100vh - 175px);
  margin: auto 0;
  /* background-image: url("../../assets/banner-1.jpg"); */
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; */
  /* background-color: aqua; */
  /* overflow: hidden; */

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .btn-wrapper {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    

    button {
      background-color: var(--white);
      padding: 20px;
      border-radius: 50%;
      border: none;
      cursor: pointer;
    }

    button:first-child {
      left: 10px;
      right: auto;
    }

    button:last-child {
      right: 10px;
      /* left: auto; */
    }
  }

  .hero-text {
    position: absolute;
    top: 20%;
    left: 20%;
    color: var(--black);
  }
}