.card-article {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f4f4f4;
    color: var(--black);
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    margin-bottom: 20px;

    &:hover img {
        transform: scale(1.1);
    }

    .card-img {
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
            height: 200px;
            display: block;
            object-fit: cover;
            object-position: top;
            transition: all 0.3s ease-in-out;
        }

        .card-category {
            position: absolute;
            background: var(--shade2);
            color: var(--white);
            padding: 0.2rem 0.5rem;
            top: 0.5rem;
            left: 0;
            font-size: 0.8rem;
            font-weight: 600;
            width: fit-content;
            letter-spacing: 0.5px;
        }
    }

    .card-title {
        padding: 1rem 1rem 0rem 1rem;
        display: flex;
        flex-direction: column;

        .card-title-content {
            font-size: 1.2rem;
            text-transform: uppercase;
            line-height: 1;
        }
    }

    .card-rating {
        color: var(--orange);
        padding: 10px;
    }

    .card-price-btn {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: auto;

        .card-price {
            font-size: 1.2rem;
            font-weight: 600;
            color: var(--shade4);
        }

        .card-btn {
            background-color: var(--shade3);
            color: var(--white);
            padding: 0.5rem 1rem;
            border: none;
            /* border-radius: 5px; */
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover {
                background-color: var(--shade4);
            }
        }
    }
}
