.navbar-wrapper {
    /* navbar-------*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.bar-btn {
    display: none;
    font-size: 1.5rem;
    position: relative;
    color: var(--black);
    left: 15px;
}

.header-nav-toggle {
    position: absolute;
    right: 0;
    top: 100px;
    background: var(--white);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transition: all 0.8s ease-in-out;
    transform: translateX(0%);
    z-index: 9999;

    &.show-toggle {
        transform: translateX(100%);
    }

    .navbar-wrapper-toggle {
        display: flex;
        /* align-items: center; */
        flex-direction: column;
        gap: 1.5rem;
        transition: all 0.8s ease-in-out;
        height: 100vh;
        width: 420px;
        padding: 3rem;

        h3 {
          font-size: 1.5rem;
        }

        a {
            font-size: 1.4rem;
            padding-left: 1rem;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .navbar-container {
        flex-direction: column;
        height: auto;
    }

    .bar-btn {
        display: block;
        left: 5px;
    }
}
