.sidebar-container {
    position: fixed;
    top: 0;
    right: 0;
    background: white;
    width: 300px;
    height: 100vh;
    transform: translateX(100%);
    transition: all 0.3s ease-in-out;
    z-index: 9999;
    color: black;

    &.show-sidebar {
        transform: translateX(0);
    }
}