.footer-main-container {
    border-top: 2px solid var(--gray);
    padding: 1rem 4rem;
    background-color: var(--shade2);
    color: var(--white);
}

.footer-middle-container {
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    padding-right: 1rem;
    gap: 2rem;
}

.footer-store-info {
    width: 25%;

    .footer-logo {
        margin-bottom: 1rem;
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            img {
                max-height: 50px;
            }
        }
    }

    .footer-address {
        margin-bottom: 1rem;
        font-size: 0.9rem;
    }

    .footer-email {
        margin-bottom: 0.5rem;
        font-size: 0.9rem;
        font-weight: 600;
    }

    .footer-tel {
        margin-bottom: 1rem;
        font-size: 0.9rem;
        font-weight: 600;
    }
}

.footer-favicons {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;

    svg {
        color: var(--white);
        font-size: 1.3rem;
        cursor: pointer;
    }
}

.footer-wrapper {
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 1rem;

    h3 {
        margin-bottom: 2rem;
        font-size: 1.2rem;
    }

    li {
        margin-bottom: 1rem;
        cursor: pointer;
        font-size: 0.9rem;

        &:hover {
            text-decoration: underline;
        }

        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.footer-company-column,
.footer-shop-column,
.footer-help-column {
    width: 33%;
}

.footer-subscribe-column {
    width: 25%;

    p {
        margin: 2rem 0;
        font-size: 0.9rem;
    }

    .footer-secure-name {
        font-weight: 600;
    }

    form {
        margin-bottom: 1rem;
    }
}

.footer-form {
    display: flex;
    align-items: center;

    .footer-input {
        padding: 0.8rem;
        background-color: white;
        box-shadow: none;
        outline: none;
        border: none;
        color: var(--shade4);
    }

    .footer-submit {
        /* width: 15%; */
        padding: 0.8rem;
        background-color: var(--shade4);
        font-weight: 600;
        cursor: pointer;
        border: var(--white);
        outline: none;
        border: none;
        color: var(--white);
    }
}

.footer-payment-methods {
    p {
        display: flex;
        align-items: center;
        /* justify-content: center; */
        font-size: 0.9rem;
        margin-bottom: 1rem;
    }
}

.footer-payment-icons {
    display: flex;
    gap: 1rem;
    /* justify-content: space-between; */
    svg {
        color: var(--white);
    }
}

@media screen and (max-width: 890px) {

    .footer-main-container {
        padding: 1rem 2rem;
    
    }
    .footer-middle-container {
        flex-direction: column;
    }

    .footer-store-info,
    .footer-wrapper,
    .footer-subscribe-column {
        width: 100%;
    }
}
