.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 1rem;

    article.card-article {
        border: 1px solid lime;
        display: flex;
        flex-direction: column;

        .card-img {
            position: relative;

            img {
                width: 100%;
                height: 200px;
                display: block;
                object-fit: cover;
                object-position: top;
            }

            .card-category {
                position: absolute;
                background: yellow;
                color: black;
                padding: 0.5rem;
                top: 0.5rem;
                left: 0;
            }
        }

        .card-rating {
            color: goldenrod;
            padding: 10px;
            text-align: right;
        }

        .card-title {
            padding: 10px;
            .card-title-content {
                font-size: 1.2rem;
                text-transform: uppercase;
                line-height: 1;
            }
        }

        .card-price-btn {
            padding: 1rem;
            display: flex;
            justify-content: space-between;
        }
    }
}
